{% extends 'gestion/base.html' %}
{% load static %}


{% block title %}Produits{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'gestion/style.css' %}">
    <title>Produits</title>
</head>
<body>
    <h1>Ajouter un produit</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer</button>
    </form>
    <a href="{% url 'liste_produits' %}">⬅️ Retour à la liste</a>
</body>
</html>
{% endblock %}